In [22]:
# import dependancies
import pandas as pd
from splinter import Browser
import time
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

In [23]:
# set up splinter
browser = Browser('chrome',executable_path=ChromeDriverManager().install(),headless=False)

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Driver [C:\Users\gcwhi\.wdm\drivers\chromedriver\win32\101.0.4951.41\chromedriver.exe] found in cache

In [24]:
# visit Red Planet science site url using splinter
url1 = "https://redplanetscience.com/"
browser.visit(url1)
time.sleep(1)

In [25]:
# set the variablesand scrape into soup
html = browser.html
soup = bs(html,"html.parser")

In [26]:
# set variable for title and get one
news_title = soup.find('div', class_= 'content_title').get_text()
news_title

"Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest"

In [27]:
# set variable for article teaser and get one
news_p = soup.find('div', class_= 'article_teaser_body').get_text()
news_p

"Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. "

In [28]:
# visit Space images site url using splinter
url2 = "https://spaceimages-mars.com"
browser.visit(url2)

In [29]:
# find full sized image and click

full_image = browser.find_by_tag('button')[1]
full_image.click()

In [30]:
# set the variables and scrape into soup
html = browser.html
img_soup = bs(html,"html.parser")

In [31]:
# find the relative url
rel_img_url = img_soup.find('img', class_='fancybox-image').get('src')
rel_img_url

'image/featured/mars3.jpg'

In [32]:
# create the absolute url and save to variable called featured_image_url
featured_image_url = f'https://spaceimages-mars.com/{rel_img_url}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [33]:
#use pandas to scrape all tables from galaxyfacts
tables = pd.read_html("https://galaxyfacts-mars.com/")
print(tables)

[                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [34]:
# select table containing facts about the planet including diameter, mass, etc
df = pd.read_html('https://galaxyfacts-mars.com/')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [35]:
# rename columns and set index
df.columns=['Feature','Mars','Earth']
df.set_index('Feature', inplace=True)
df

                                    Mars            Earth
Feature
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [36]:
# convert the data to a HTML table string
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Feature</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [37]:
# Visit the marshemispheres site to obtain high-resolution images for each hemisphere of Mars.
url3 = 'https://marshemispheres.com/'
browser.visit(url3)

In [38]:
#set variables again for new URL
html = browser.html
soup = bs(html, 'html.parser')

In [39]:
# create an empty list to store a dictionary of image titles and image urls and save to a variable called hemisphere_image_urls
hemisphere_image_urls = []
# create list to image urls
abs_url_list = []
#find all div tags with class description and iterate over them
for div in soup.findAll("div", attrs={"class":"description"}):
    #find all hyperlinks
    rel_url_list = div.findAll("a")
    #iterate over hyperlinks
    for link in rel_url_list:
        #get the url
        href = link['href']
        #turn url into full url
        abs_url = url3+ href
        #append url to list
        abs_url_list.append(abs_url)

#print url list to check
print(abs_url_list)
print(rel_url_list)

['https://marshemispheres.com/cerberus.html', 'https://marshemispheres.com/schiaparelli.html', 'https://marshemispheres.com/syrtis.html', 'https://marshemispheres.com/valles.html']
[<a class="itemLink product-item" href="valles.html">
<h3>Valles Marineris Hemisphere Enhanced</h3>
</a>]

In [40]:
for link in abs_url_list:
    url = link
    browser.visit(url)
    html = browser.html
    soup = bs(html, 'html.parser')
    #find all divs with class downloads
    for div in soup.findAll("div", attrs={"class": "downloads"}):
        base_url = "https://marshemispheres.com/"
        #find links with text Original and take href
        img_url = base_url + div.find("a", text="Sample")["href"]
        #find h2 and get text from h2
        h2 = soup.find("h2").get_text()
        # remove word Enhanced
        title = h2.replace("Enhanced","")
        #remove whitespace at end
        title = title.rstrip()
        #create dictionary to hold results
        title_img_dict = {
            "title": title,
            "img_url": img_url
        }
        #append dictionary to list of dictionaries
        hemisphere_image_urls.append(title_img_dict)

In [41]:
#check list of dictionaries
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere', 'img_url': 'https://marshemispheres.com/images/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [42]:
#close the splinter browser
browser.quit()